*{
  margin: 0 0 0 0;
}
.objeto_tela{
  position:absolute;
}
.resize-drag {

position:absolute;

/* This makes things *much* easier */
box-sizing: border-box;
}

.resize-container {
width: 100%;
height: 100%;
border: 1px solid black;
}

.circulo {
border-radius: 50%;
}